<link rel="stylesheet" type="text/css" href="./js/components/searchresult/searchresult.css">
<!--searchresult-->
<ul class="list-group" data-bind="foreach: result">
        <li class="list-group-item" data-bind="click: $parent.choosePost">
            <div data-bind="html:title"></div>
            <span class="createdDate" data-bind="html:createDate"></span>
        </li>
</ul>



<!-- paging -->

<button type="button" class="btn-default active" data-bind="visible: prev, click: prevPage"><<</button>
<button type="button" class="btn-default" data-bind="visible: next , click: nextPage">>></button>
