
<link rel="stylesheet" type="text/css" href="./js/components/QA/QA.css">
<h4 data-bind="text: title"></h4>
<ul class="list-group" data-bind="foreach: qaPosts">
    
    <li class="list-group-item">
        <div data-bind="html: body"></div>
        <div>
            <b>Posted by <span data-bind="text: user"></span></b><br />
            <span data-bind="text: createDate"></span>

        </div>
        <div class="container-fluid">
            <div class="row" data-bind="if: markedPost">
                <div class="col-xs-5"></div>
                <input class="col-xs-6 form-control-static" data-bind="textInput: annotation, event: { blur: $parent.saveAnnotation }" contenteditable="true"></input>
                <div class="col-xs-1 glyphicon glyphicon-star" data-bind="click: $parent.clickMark" id="fav"></div>
            </div>
            <div class="row" data-bind="ifnot: markedPost">
                <div class="col-xs-11" ></div>
                <div class="col-xs-1 glyphicon glyphicon-star-empty" data-bind="click: $parent.clickMark" id="fav"></div>
            </div>
        </div>
    </li>

</ul>

