
<link rel="stylesheet" type="text/css" href="./js/components/SearchHistory/SearchHistory.css">
<h4 data-bind="text: title"></h4>
<ul class="list-group" data-bind="foreach: searchHistory">
    
    <li class="list-group-item">
        <div data-bind="html: body"></div>         
    
        <!-- results -->
        <div class="row">
            <ul class="list-group" data-bind="foreach: search">
                <li class="list-group-item">
                    <span data-bind="text: search_string"></span>
                    - <span data-bind="text: search_date"></span>                  
                </li>
            </ul>
        </div>

    </li>

</ul>

